<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='authbutton.css')}}">
</head>
<body>
	<div style="text-align: center;">
  		<div id="welcome">welcomet to ftclotto!</div>
  		<button id="authbutton">verify discord account</button>
	</div>
	<script type="text/javascript" src="{{url_for('static', filename='authbutton.js')}}"></script>
</body>
</html>
