#authbutton {
  font-family: 'Karla', sans-serif;
  width: 70%;
  height: 30%;
  background-color: #5d45a8;
  color: white;
  margin-top: 5%;
  border: none;
  font-size: 60px;
  padding: 3%;
}

#welcome {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  background-color: #00a7ff;
  display: block;
  padding: 1.5%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: yellow;
}