body {
  background-color: yellow;
  font-family: 'Karla', sans-serif;
}

#username, #points {
  font-size: 40px;
  display: block;
  text-align: center;
}

#username {
  background-color: #5d45a8;
  color: white;
  padding: 1.25%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#username span {
  background-color: #00a7ff;
  color: black;
  padding: 3%;
}


#betbutton, #betAmount {
  margin-top: 5%;
  font-family: 'Karla', sans-serif;
  border: none;
  background-color: white;
  font-size: 30px;
  padding: 1%;
}